{% extends 'admin-base.html.twig' %}

{% block body %}

    <ul>
        {% for loc in locs %}
            <li>
                <b>
                    {{ loc.label }}
                </b>
                <p>
                    {{ loc.description|slice(0, 80) }}...
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

