{% extends 'admin-base.html.twig' %}

    {% block stylesheets %}

{#        {{ parent() }}#}
    {% endblock %}

{% block body %}

    <h1>
        {{ item.label }}
    </h1>
    <article>
        {{ item.description|markdown_to_html }}
    </article>

{% endblock %}

