{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% for locale in app.enabled_locales %}
        {% for core in ['obj','loc'] %}
            <li>

            <a class="btn btn-large" href="{{ path('admin_browse', {core: core, _locale: locale}) }}">
                    {{ locale }}
                    {{ core }}
                    {{ locale|language_name }}
            </a>
            </li>

        {% endfor %}
    {% endfor %}

{% endblock %}
