<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{% block title "MODO: Museo Modo" %}</title>

    {% block stylesheets %}
        {#        <link rel="stylesheet" href="https://kit.fontawesome.com/821a06d4ef.css" crossorigin="anonymous">#}
{#        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/survosapigrid/style.css') }}" ></link>#}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('admin') }}{% endblock %}
    {% endblock %}
</head>


<body data-turbo="false">
{% block body '@overwrite the body' %}
</body>
</html>

